:root {
    --primary-color: #003e5d;
    --secondary-color: #ff8800;
    --accent1-color: #ffb700;
    --accent2-color: #219ebc;
    --heading-font: font-family: "Bebas Neue", sans-serif;
    --text-font: font-family: "Playfair Display", serif;
}

/* url pallete: https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500 */

