:root {
    --main-color: rgb(34, 34, 156);
    --borders-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
}

div {
    border: 1px solid rgb(255, 255, 255);
}

main img {
    /* position: absolute;
    right: 15px; */
    float: right;
    margin: 20px;
    width: auto;
    height: 170px;
    border: 1px solid var(--borders-color);
    padding: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 1rem;
}

main {
    max-width: 840px;
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
}

aside img {
    width: 250px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 130px;
    left: 70px;
    color: #eee;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid var(--borders-color);
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Class Selectors*/

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--borders-color);
    background-color:#eee;
    color: #333;
}