:root {
    --main-color: rgb(34, 34, 156);
    --borders-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    background-color: var(--main-color);
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--main-color);
    padding: 1rem;
    border-bottom: solid 2px var(--main-color);
}

div {
    border: 1px solid rgb(255, 255, 255);
}

main img {
    /* position: absolute;
    right: 15px; */
    float: right;
    margin: 20px;
    width: auto;
    height: 170px;
    border: 1px solid var(--borders-color);
    padding: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 1rem;
    text-align: justify;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 250px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 130px;
    left: 70px;
    color: #eee;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
    border-top: 1px solid var(--borders-color);
    text-align: center;
}

.grid {
    display: grid;
    align-items: center;
}

div {
    grid-template-columns: 1fr 2fr;
}

ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--borders-color);
    background-color:#eee;
    color: #333;
}